
node_modules
.env
json.sqlite
serenia.log
src/assets/logs/Serenia.log
config.json
env.backups
replit_zip_error_log.txt
.well-known
package-lock.json
.config
.github
.upm
.replit
commandCache.json
playit/playit-linux-amd64
src/structures