<%- include("partials/head", { bot, user, path, description, title: "Serenia - Privacy Policy", url, image }) %>

<br><br><br><br><br><br><br><br>

<h1 style="text-align: center; font-size: 45px;">Serenia's Privacy Policy</h1>
<p style="text-align: center; font-size: 20px; color: gray;">Last Updated: March 3, 2025</p>
<p style="text-align: center; font-size: 15px; color: gray;">Effective: April 3, 2025</p>

<br><br><br><br>

<div>
  <div style="margin: 100px; font-size: 60px;">
    <p><b>1. <u>Introduction</u></b><br>
      Welcome to Serenia! These policies outline how your data is stored and used across our bot. By using Serenia, you agree to the following terms regarding data collection, storage, and usage.<br><br>

      <b>2. <u>Data Storage and Usage (Users)</u></b><br>
      Serenia stores your username and Discord user ID for the main functionality of the bot. By using Serenia, you consent to this data collection and storage.<br><br>

      <b>3. <u>Data Storage and Usage (Guilds)</u></b><br>
      Serenia stores public information such as guild configuration data, custom prefixes, guild names, and guild IDs. By using Serenia, you consent to this data being stored across your servers.<br><br>

      <b>4. <u>Serenia's Security</u></b><br>
      We implement a variety of security measures to protect your personal information when you place an order, submit data, or access your information. However, please note that our storage systems are not 100% secure, and we cannot guarantee absolute security.<br><br>

      <b>5. <u>Data Deletion</u></b><br>
      Personal data is stored only for as long as necessary for the purposes for which it was collected. If you would like to request the deletion of your data, you can do so by contacting us. Please note that abuse of the data deletion system may result in a ban from our contact form.<br><br>
    </p>
  </div>
</div>

<%- include("partials/mainfooter") %>
<%- include("partials/footer") %>